<nav>
    <ul class="menu">
        <li class="btnMenu btn-category" id="indexBtn">
            <i class="ri-arrow-left-wide-line" aria-hidden="true"></i>
            Seguir comprando
        </li>
        <li class="btnMenu active">
            <i class="ri-shopping-cart-2-fill" aria-hidden="true"></i>
            Carrito
        </li>
    </ul>
</nav>

<footer class="text-footer">BStudio</footer>
</aside>
<main class="cart-main">
    <div class="main-header">
        <h2 class="cart-main-title">Carrito</h2>
    </div>
    <div class="container-cart">
        <div id="empty-comment" class="empty-comment">

            <div class="empty-container">
                <div class="heading-right-div">
                    <span class="wizzars-heading">Llena el carrito con lo que más te gusta!</span>
                    <div class="wizard-circles">
                        <!-- wizard bar -->
                        <ul class="wizard-steps">
                            <li data-target="#step1" class="active">
                                <span class="step">1</span>
                            </li>

                            <li data-target="#step2" class="">
                                <span class="step">2</span>
                            </li>

                            <li data-target="#step3" class="">
                                <span class="step">3</span>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard-step-div">
                        <span class="wizzard-step-title">Haz click en un producto</span>
                        <span class="wizzard-step-title">Confirma tu compra en el carrito</span>
                        <span class="wizzard-step-title">Realizar el pago</span>
                    </div>
                </div>
                <div class="no-products">
                    <div class="empty-wrap">
                        <img loading="lazy" class="empty-cart" src="/images/shopping-cart.webp" width="256"
                            height="256">
                        <div class="empty-heading">
                            ¡Su carrito esta vacío!
                        </div>
                    </div>
                </div>
                <div class="btns-emptyCart-div">
                    <button type="button" id="indexBtn" class="btn btn-b" aria-label="Ir a la tienda">
                        Ir a Comprar <i class="ri-shopping-cart-2-fill" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="cart-products" class="cart-products disabled">
            <!-- JS -->
        </div>

        <div id="cart-actions" class="cart-actions disabled">
            <div class="cart-actions-left">
                <button type="button" id="btn-cart-empty" class="btn btn-cart-empty" aria-label="Vaciar carrito">
                    Vaciar carrito
                </button>
            </div>
            <div class="cart-actions-right">
                <div class="cart-total">
                    <p>Total:</p>
                    <p id="total">₡ 0</p>
                </div>
                <button type="button" id="btn-cart-buy" class="btn btn-cart-buy" aria-label="Comprar ahora">
                    Comprar ahora
                </button>
            </div>
        </div>
        <p id="bought-cart" class="bought-cart disabled">
            Muchas gracias por su compra.
            <i class="far fa-laugh-beam"></i>
        </p>
    </div>
</main>
</div>

<script src="/scripts/cart.js" defer></script>