<nav>
    <ul class="menu">
        <div class="search_wrap search_wrap_aside">
            <input type="text" class="input" placeholder="Buscar.." id="input_aside" />
        </div>
        <li id="all" class="btnMenu btn-category active">
            <i class="ri-arrow-up-wide-line" aria-hidden="true"></i> Productos varios
        </li>
        <li id="shirts" class="btnMenu btn-category">
            <i class="ri-arrow-up-wide-line" aria-hidden="true"></i> Camisetas
        </li>
        <li id="coats" class="btnMenu btn-category">
            <i class="ri-arrow-up-wide-line" aria-hidden="true"></i> Abrigos
        </li>
        <li id="pants" class="btnMenu btn-category">
            <i class="ri-arrow-up-wide-line" aria-hidden="true"></i> Pantalones
        </li>
        <li id="shoes" class="btnMenu btn-category">
            <i class="ri-arrow-up-wide-line" aria-hidden="true"></i> Zapatos
        </li>
        <li id="cartBtn" class="btnMenu btn-cart">
            <i class="ri-shopping-cart-2-fill" aria-hidden="true"></i>
            Carrito
            <span id="number" class="number" aria-label="Cantidad de productos en el carrito">0</span>
        </li>
        <button type="button" class="go-top-btn" aria-label="Ir al inicio de la página">
            <i class="ri-arrow-up-line" aria-hidden="true"></i>
        </button>
    </ul>
</nav>

<footer class="text-footer">BStudio</footer>

</aside>
<main>
    <div class="main-header">
        <h2 class="main-title" id="main-title">Productos varios</h2>
        <div class="search_wrap">
            <input type="text" class="input" placeholder="Buscar.." id="input" />
        </div>
    </div>
    <p id="empty-comment" class="empty-comment disabled">No se encontró ningun producto.</p>
    <button type="button" role="button" class="go-top-btn" aria-label="Ir al inicio de la página">
        <i class="ri-arrow-up-line" aria-hidden="true"></i>
    </button>
    <div class="productContainer" id="productContainer">
        <!-- JS -->
    </div>
    <div class="modal-content">
        <!-- JS -->
    </div>
</main>
</div>

<script src="/scripts/main.js" defer></script>
<script src="/scripts/menu.js" defer></script>
<script src="/scripts/search.js" defer></script>