<nav>
    <ul class="menu">
        <li id="all" class="btnMenu btn-category active" aria-label="Mostrar todos los productos">
            <img loading="lazy" class="arrow-iconb" src="/images/arrow-iconb.png" width="24" height="24">
            Productos varios
        </li>
        <li id="shirts" class="btnMenu btn-category" aria-label="Mostrar camisetas">
            <img loading="lazy" class="cart-icon" src="/images/arrow-icon.png" width="24" height="24">
            Camisetas
        </li>
        <li id="coats" class="btnMenu btn-category" aria-label="Mostrar abrigos">
            <img loading="lazy" class="cart-icon" src="/images/arrow-icon.png" width="24" height="24">
            Abrigos
        </li>
        <li id="pants" class="btnMenu btn-category" aria-label="Mostrar pantalones">
            <img loading="lazy" class="cart-icon" src="/images/arrow-icon.png" width="24" height="24">
            Pantalones
        </li>
        <li id="shoes" class="btnMenu btn-category" aria-label="Mostrar zapatos">
            <img loading="lazy" class="cart-icon" src="/images/arrow-icon.png" width="24" height="24">
            Zapatos
        </li>
        <li id="cartBtn" class="btnMenu btn-cart" aria-label="Abrir carrito de compras">
            <img loading="lazy" class="cart-icon" src="/images/res-cart.png" width="24" height="24">
            Carrito
            <span id="number" class="number" aria-label="Cantidad de productos en el carrito">0</span>
        </li>
    </ul>

    <div class="go-top-btn-container">
        <button type="button" class="go-top-btn" aria-label="Ir al inicio de la página">
            <img class="go-top-arrow" src="/images/go-top-arrow.png" width="35" height="35">
        </button>
    </div>
</nav>

<footer class="text-footer">BStudio</footer>

</aside>
<main>
    <div class="main-header">
        <h2 class="main-title" id="main-title">Productos varios</h2>
        <div class="search_wrap">
            <input type="text" class="input" placeholder="Buscar.." id="input" />
        </div>
    </div>
    <div id="empty-div" class="empty-div disabled">
        <p id="empty-comment" class="empty-comment">No se encontró ningun producto.</p>
    </div>
    <div class="productContainer" id="productContainer">
        <!-- JS -->
    </div>

    <div class="modal-content">
        <!-- JS -->
    </div>
</main>
</div>

<script src="/scripts/main.js" defer></script>
<script src="/scripts/menu.js" defer></script>
<script src="/scripts/search.js" defer></script>