:root {
  --clr-aside: #3b3e56;
  --clr-black: #000;
  --clr-red: #c0392b;
  --clr-orange: #ff9f51;
  --clr-green: #2a8851;
  --clr-mate: #232523;
  --clr-blue: #6574b1;
  --clr-main: #fff;
  --clr-yellow: #ffc107;
  --clr-white: #ececec;
  --clr-whiteish: #fefefc;
  --clr-gray: #e2e2e2;
  --b-round: 50%;
  --b-radius: 0.45rem;
  --b-radius-xs: 0.25rem;
  --space: 0.04rem;
  --line-h: 1.5;
  --space-halfunit: 8px;
  --space-unit: 16px;
  --space-20: 20px;
  --space-oneandhalfunits: 24px;
  --space-twounits: 32px;
  --space-threeunits: 48px;
  --space-fourunits: 64px;
  --space-fiveunits: 80px;
  --space-sixunits: 96px;
  --clr-shine-aside: linear-gradient(to right, #1f1c2c, #645e83);
  --clr-shine-blue: linear-gradient(to left, #2c3e50, #3498db);
  --clr-shine-red: linear-gradient(to left, #ed213a, #93291e);
}

.cart-main {
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-cart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.empty-comment,
.bought-cart {
  width: auto;
}

.a-back-arrow2 {
  color: var(--clr-whiteish);
  font-size: 0.8rem;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-product {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--clr-mate);
  padding: 0.6rem 0 0.6rem 0.6rem;
  border-radius: var(--b-radius);
  column-gap: 1rem;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart-product.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.cart-div {
  display: block;
  width: 45%;
}

.cart-sub {
  display: none;
}

.cart-product-img {
  width: 5rem;
  border-radius: var(--b-radius-xs);
}

.cart-content-div {
  display: block;
  font-size: 0.9rem;
}

.cart-title {
  color: var(--clr-blue);
  font-size: 0.9rem;
}

.cart-product-title {
  width: 100%;
}

.cart-product-price {
  display: none;
}

.cart-product-subtotal {
  width: 130px;
}

.cart-product-qty {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart-product small {
  font-size: 0.75rem;
}

.cart-product-delete {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--b-round);
  font-size: 1.5rem;
  position: absolute;
  top: -0.7rem;
  right: -0.9rem;
  outline: 0;
  border: 0;
  white-space: nowrap;
  color: var(--clr-red);
  box-shadow: inset 0px 0px 0px 1px var(--clr-white),
    inset 0px 2px 1px 0px var(--clr-white);
  background-color: var(--clr-whiteish);
  cursor: pointer;
}

.cart-product-delete .c {
  margin-left: 1px;
}

.cart-actions {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  row-gap: 0.5rem;
}

.cart-actions-right {
  display: flex;
  flex-direction: column;
}

.disabled {
  display: none !important;
}

/*------------- Cart Empty -----------------*/

.empty-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.heading-right-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: end;
}

.wizard-circles {
  width: auto;
  height: 50px;
}

.wizzars-heading {
  height: 100%;
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: right;
  margin-bottom: var(--space-twounits);
  padding-right: var(--space-unit);
  color: var(--clr-aside);
}

.no-products {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--clr-blue);
}

.empty-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: start;
  padding: var(--space-fourunits) var(--space-unit) 0 var(--space-threeunits);
  gap: var(--space-twounits);
}

.empty-cart {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  color: var(--clr-blue);
}

.empty-heading {
  width: 400px;
  font-size: 2.5vw;
  text-align: start;
  color: var(--clr-aside);
}

.btns-emptyCart-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: var(--space-unit);
}

.btn-b {
  outline: 0;
  border: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)),
    url("/images/bg02.webp");
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  background: var(--clr-shine-aside);
}

/*wizard pasos*/
.wizard-steps {
  width: 100%;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.wizard-steps li {
  display: block;
  text-align: center;
  float: left;
}

.wizard-steps li .step {
  border: 5px solid var(--clr-blue);
  color: var(--clr-aside);
  font-size: 15px;
  border-radius: 100%;
  background-color: var(--clr-whiteish);
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
}

.wizard-steps li:before {
  display: block;
  content: "";
  width: 130px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  border-top: 4px solid #ced1d6;
  position: relative;
  top: 21px;
  z-index: 1;
}

.wizard-steps li:last-child:before {
  max-width: 50%;
  width: 130px;
}

.wizard-steps li:first-child:before {
  max-width: 46%;
  left: 80px;
}

.wizard-steps li.active:before,
.wizard-steps li.complete:before,
.wizard-steps li.active .step,
.wizard-steps li.complete .step {
  border-color: var(--clr-blue);
  line-height: 28px;
}

.wizard-steps li.complete .title,
.wizard-steps li.active .title {
  color: var(--clr-aside);
}

.wizard-step-div {
  display: flex;
  color: var(--clr-aside);
  font-weight: 500;
  margin-bottom: var(--space-twounits);
  gap: 40px;
}

.wizzard-step-title {
  width: 100px;
  text-align: center;
}

.custom-confirm-btn {
  outline: 0;
  border: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)),
    url("/images/bg02.webp");
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  background: var(--clr-shine-red);
  transition: none !important;
}

.custom-confirm-btn:hover {
  background: var(--clr-shine-red) !important;
}

.custom-cancel-btn {
  outline: 0;
  border: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)),
    url("/images/bg02.webp");
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  background: var(--clr-shine-aside);
  transition: none !important;
}

.custom-cancel-btn:hover {
  background: var(--clr-shine-aside) !important;
}

/*--------------- RESPONSIVE CART ----------------*/

@media screen and (min-width: 360px) {
  .cart-content-div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .cart-product-title {
    width: 6rem;
  }

  .cart-sub,
  .cart-product-qty {
    display: block;
  }
}

@media screen and (min-width: 460px) {
  .cart-div {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
  }

  .cart-actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

@media screen and (min-width: 560px) {
  .cart-product {
    justify-content: space-between;
  }

  .cart-content-div {
    justify-content: space-between;
  }

  .cart-div {
    justify-content: space-evenly;
  }

  .cart-product-price {
    display: block;
  }
}

/*--------------- RESPONSIVE CART 2TH PART -------------*/

@media screen and (min-width: 577px) {
  .cart-content-div {
    display: block;
    font-size: 0.9rem;
  }

  .cart-div {
    display: block;
    width: 45%;
  }

  .cart-product-title {
    width: 90%;
  }

  .cart-product-qty {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .cart-product-subtotal {
    width: 130px;
  }

  .cart-sub {
    display: none;
  }

  .cart-product-price {
    display: none;
  }

  .cart-actions {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    row-gap: 0.5rem;
  }
}

@media screen and (min-width: 640px) {
  .cart-content-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .cart-product-title {
    width: 6rem;
  }

  .cart-sub,
  .cart-product-qty {
    display: block;
  }

  .cart-actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

@media screen and (min-width: 780px) {
  .cart-div {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
  }

  .cart-actions-right {
    display: flex;
    flex-direction: row;
  }

  .cart-total {
    border-top-left-radius: var(--b-radius);
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: var(--b-radius);
    border-top-right-radius: 0;
  }

  .btn.btn-cart-buy {
    border-top-right-radius: var(--b-radius) !important;
    border-bottom-left-radius: 0;
  }

  .product-content {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 920px) {
  .cart-product {
    justify-content: space-between;
    padding: 0.5rem;
    padding-right: 1.5rem;
  }

  .cart-content-div {
    justify-content: space-between;
  }

  .cart-div {
    justify-content: space-around;
  }

  .cart-product-title {
    width: 20%;
  }

  .cart-product-price {
    display: block;
  }

  .cart-product-delete {
    position: initial;
  }
}

@media screen and (max-width: 1000px) {
  .empty-wrap {
    padding-left: var(--space-twounits);
    gap: var(--space-unit);
  }

  .empty-heading {
    width: auto;
  }
}

@media screen and (max-width: 780px) {
  .empty-wrap {
    padding-left: var(--space-halfunit);
  }

  .empty-heading {
    font-size: 1.1rem;
  }

  .btn-b {
    font-size: 0.7rem;
  }

  .heading-right-div {
    width: 100%;
    align-items: center;
  }

  .wizard-steps li:before {
    width: 90px;
  }

  .wizard-steps li:last-child:before {
    width: 90px;
  }

  .wizard-steps li:first-child:before {
    max-width: 46%;
    left: 50px;
  }

  .wizard-step-div {
    gap: 3px;
  }

  .wizzars-heading {
    font-size: 1rem;
    text-align: center;
  }

  .wizzard-step-title {
    font-size: 0.9rem;
  }
}
