@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --clr-aside: #3b3e56;
  --clr-black: #000;
  --clr-red: #c0392b;
  --clr-orange: #ff9f51;
  --clr-green: #2a8851;
  --clr-mate: #232523;
  --clr-blue: #6574b1;
  --clr-white: #fff;
  --clr-whiteish: #fefefc;
  --clr-gray: #e2e2e2;
  --b-round: 50%;
  --b-radius: 0.45rem;
  --b-radius-xs: 0.25rem;
  --space: 0.04rem;
  --line-h: 1.5;
  --space-halfunit: 8px;
  --space-unit: 16px;
  --space-20: 20px;
  --space-oneandhalfunits: 24px;
  --space-twounits: 32px;
  --space-threeunits: 48px;
  --space-fourunits: 64px;
  --space-fiveunits: 80px;
  --space-sixunits: 96px;
  --clr-shine-aside: linear-gradient(to right, #1f1c2c, #645e83);
  --clr-shine-blue: linear-gradient(to left, #2c3e50, #3498db);
  --clr-shine-red: linear-gradient(to left, #ed213a, #93291e);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  letter-spacing: var(--space);
}

body {
  user-select: none;
  line-height: var(--line-h);
}

/*------------- CUSTOME SCROL BAR-------------*/

body::-webkit-scrollbar {
  width: 0;
}

/*-----------------------------------------*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-mate);
}

button {
  border: 0;
  background-color: var(--clr-aside);
}

small {
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: var(--clr-aside);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* ------------------ SEARCH BAR ---------------*/

.search_wrap .input {
  width: 100%;
  height: 100%;
  color: var(--clr-mate);
  padding: 8px 10px;
  font-size: 1rem;
  outline: none;
  background-color: var(--clr-whiteish);
  border-radius: var(--b-radius);
  border: 1px solid var(--clr-aside);
}

.search_wrap_aside {
  display: none;
  border: 0;
  width: 92%;
}

.search_wrap_aside .input {
  background-color: var(--clr-whiteish);
}

/*----------------- ASIDE -----------------*/

.logo {
  width: 50px;
  height: 40px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

aside {
  min-width: 250px;
  grid-column: 1 / 2;
  padding: 2rem 0 15px 2rem;
  color: var(--clr-whiteish);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-aside);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.btnMenu {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 1rem;
}

.btnMenu.active {
  position: relative;
  width: 101%;
  background-color: var(--clr-whiteish);
  color: var(--clr-mate);
  border-top-left-radius: var(--b-radius);
  border-bottom-left-radius: var(--b-radius);
}

.btnMenu.active::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: var(--b-round);
  box-shadow: 0 1rem 0 var(--clr-whiteish);
}

.btnMenu.active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: var(--b-round);
  box-shadow: 0 -1rem 0 var(--clr-whiteish);
}

/*------------------ MENU MOBILE BUTONS --------------------*/

.btn-menu-mobile {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 12px;
}

.header-btn-group {
  display: none;
  align-items: center;
  margin-left: 6px;
}

.nav-toggle-btn {
  display: grid;
  gap: 4px;
}

.line {
  width: 10px;
  height: 3px;
  background-color: var(--clr-whiteish);
  border-radius: 5px;
  transition: 0.25s ease;
}

.line.middle {
  width: 20px;
}

.line.bottom {
  margin-left: auto;
}

.nav-toggle-btn.active .line.top {
  transform: translate(1px, 3px) rotate(45deg);
}

.nav-toggle-btn.active .line.middle {
  transform: rotate(-45deg);
}

.nav-toggle-btn.active .line.bottom {
  transform: translate(-1px, -3px) rotate(45deg);
}

.navbar {
  width: 101%;
  height: 0;
  position: absolute;
  top: 98%;
  left: 50%;
  color: var(--clr-whiteish);
  background-color: var(--clr-aside);
  transform: translateX(-50%);
  transition: 0.25s ease;
  overflow: hidden;
  z-index: 1000;
}

.navbar.active {
  height: 210px;
}

.nav-item:not(:last-child) {
  border-block-end: 1px solid hsla(0, 0%, 0%, 0.04);
}

/*---------------------------------------------------------*/

.btn-category > .bi-hand-index-thumb-fill,
.btn-category > .ri-arrow-up-wide-line {
  transform: rotateZ(90deg);
}

.btn-cart {
  margin-top: 2rem;
}

.btn-cart.active .number {
  background-color: var(--clr-aside);
  color: var(--clr-white);
}

.number {
  background-color: var(--clr-white);
  color: var(--clr-aside);
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
  outline: 0;
  border: 0;
}

.res-number {
  width: 16.5px;
  position: absolute;
  top: 0;
  right: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  font-weight: 500;
  padding: 2px 1px;
  border-radius: var(--b-round);
  background-color: var(--clr-orange);
  color: var(--clr-aside);
  outline: 0;
  border: 0;
  white-space: nowrap;
  z-index: 5;
}

/*----------- FOOTER -----------*/

.text-footer {
  color: var(--clr-white);
  font-size: 0.85rem;
}

/*------------ MAIN ------------*/

main {
  grid-column: 2 / -1;
  background-color: var(--clr-whiteish);
  margin: 1rem;
  margin-left: 0;
  border-top: 2px solid var(--clr-blue);
  border-right: 2px solid var(--clr-blue);
  border-bottom: 2px solid var(--clr-blue);
  border-radius: var(--b-radius);
  padding: 1.2rem;
}

.main-title,
.cart-main-title {
  color: var(--clr-aside);
  font-size: 1.3rem;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1.3rem;
}

.product {
  border-radius: var(--b-radius);
  border: 1px solid var(--clr-mate);
  cursor: pointer;
}

.producto-imagen {
  width: 100%;
  border-top-left-radius: var(--b-radius);
  border-top-right-radius: var(--b-radius);
  cursor: pointer;
}

.btn-expand {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--clr-mate);
  cursor: pointer;
}

.producto-detalles {
  width: 100%;
  color: var(--clr-white);
  padding: 0.8rem;
  border-bottom-left-radius: 0.37rem;
  border-bottom-right-radius: 0.37rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 0;
  border: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)),
    url("/images/bg02.webp");
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  background: var(--clr-shine-aside);
  gap: 0.25rem;
  cursor: pointer;
}

.producto-agregar {
  border: 0;
  font-weight: 500;
  background-color: var(--clr-white);
  color: var(--clr-black);
  padding: 0.6rem 0.65rem;
  text-transform: uppercase;
  border-radius: var(--b-radius-xs);
  cursor: pointer;
  transition: background-color 0.2s;
}

.producto-agregar:hover {
  background-color: var(--clr-orange);
}

/*--------------------- BACK TO TOP BTN -----------------*/

.go-top-btn {
  opacity: 0;
  position: fixed;
  font-size: 1.6rem;
  height: 2.3rem;
  width: 2.3rem;
  bottom: 25px;
  right: 15px;
  border-radius: var(--b-round);
  cursor: pointer;
  color: var(--clr-whiteish);
  background: var(--clr-orange);
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  z-index: 100;
  pointer-events: none;
  transition: 0.5s ease;
}

.go-top-btn.show {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s ease;
}

/*------------ BTNs & ATNs -------------*/

.btn {
  padding: 0.6rem 0.6rem;
  border: 0;
  border-radius: var(--b-radius);
  color: var(--clr-whiteish);
  text-transform: uppercase;
  cursor: pointer;
}

.atn {
  padding: 0.4rem 0.6rem;
  border-radius: var(--b-radius);
  color: var(--clr-whiteish);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn.btn-cart-add {
  background: var(--clr-shine-blue);
}

.btn.btn-cart-empty {
  outline: 0;
  border: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)),
    url("/images/bg02.webp");
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  background: var(--clr-shine-red);
}

.btn.btn-cart-buy {
  outline: 0;
  border: 0;
  white-space: nowrap;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)),
    url("/images/bg02.webp");
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  background: var(--clr-shine-aside);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.a-cart-buy {
  background: var(--clr-shine-aside);
}

.a-back-arrow {
  color: var(--clr-whiteish);
}

.cart-total {
  display: flex;
  font-size: 0.9rem;
  padding: 0.6rem;
  padding-right: 0.7rem;
  color: var(--clr-mate);
  text-transform: uppercase;
  outline: 0;
  border: 0;
  white-space: nowrap;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  background-color: var(--clr-gray);
  border-top-left-radius: var(--b-radius);
  border-top-right-radius: var(--b-radius);
  gap: 0.5rem;
}

/*-------------------------------------*/

.header-mobile {
  display: none;
  position: sticky;
  top: -1px;
  left: 0;
  padding: 0.6rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-aside);
  z-index: 100;
}

.disabled {
  display: none;
}

.header-wrap {
  display: flex;
  align-items: center;
  gap: 2px;
}

.res-cart {
  display: none;
  color: var(--clr-whiteish);
  cursor: pointer;
  padding: 5px;
  font-size: 1.3rem;
  position: relative;
}

.res_search {
  color: var(--clr-whiteish);
  cursor: pointer;
  padding: 5px 5px 5px 3px;
  font-size: 1.3rem;
}

/*---------- RESPONSIVE SLIDE SEARCH BAR ---------*/

.res-search-box {
  display: flex;
  cursor: pointer;
  padding: 7px 0 7px 3px;
  align-items: center;
}

.res-search-box input {
  width: 0;
  height: 25px;
  color: var(--clr-whiteish);
  font-size: 0.8rem;
  border-radius: none;
  outline: none;
  border-radius: 0 !important;
  border-top: 1px solid var(--clr-aside);
  border-left: 1px solid var(--clr-aside);
  border-right: 1px solid var(--clr-aside);
  border-bottom: 1px solid var(--clr-whiteish);
  background: var(--clr-aside);
  transition: 0.4s;
  opacity: 0;
}

.res-search-box input::placeholder {
  font-size: 0.8rem;
  color: var(--clr-white);
}

.res-search-box input.slide {
  opacity: 1;
  width: 8rem;
  padding: 0 0 0 4px;
}

/* -------------- RESPONSIVE PRO MENU --------------*/

/* -------------- MEDIA QUERIES --------------*/

@media screen and (max-width: 768px) {
  .search_wrap {
    display: none;
  }

  .search_wrap_aside {
    display: block;
  }
}

/* navbar */
.header-btn-group .btn {
  display: none;
}

.header {
  --color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--green);
  z-index: 10;
}

.header.active {
  position: fixed;
  top: -85px;
  box-shadow: var(--shadow-1);
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  aside {
    display: none;
  }

  main {
    grid-column: 1 / -1;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
  }

  .header-mobile {
    display: flex;
  }

  /*------------ RESPONSIVE NAVBAR BUTTONS -------------*/

  #res_search {
    display: none;
  }

  .header-btn-group.visible,
  .res-cart.visible {
    display: block;
  }

  #go-back {
    display: none;
    color: var(--clr-mate);
    cursor: pointer;
    padding: 5px;
  }

  #go-back.visible {
    display: block;
  }

  /*--------------- NAVBAR RESPOSIVE ------------------*/

  .menu-mobile {
    height: 0;
    position: absolute;
    top: 57px;
    width: 100%;
    right: 0;
    flex-direction: column;
    background-color: var(--clr-aside);
    gap: 0;
    overflow: hidden;
    z-index: 100;
    transition: 0.4s ease-in-out;
  }

  .no-scroll {
    overflow: hidden;
  }

  #res_search.visible {
    display: block;
  }

  .navbar {
    display: block;
  }
}
